#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutAuthentication #layoutAuthentication_footer {
  min-width: 0;
}

.footer-admin {
  height: 5rem;
  display: flex;
  align-items: center;
}
.footer-admin.footer-dark {
  color: rgba(255, 255, 255, 0.6);
}
.footer-admin.footer-light {
  color: #a7aeb8;
}
