
.pagina-ss{
  font: 'san serif';
  background-color: white;
}

.container-xl-2{
  background-color: #3FBBC0;
  border-radius: 5px;
  position: absolute;
  top:20%;
  left:30vw;
  z-index: -1;
  color:white;
  text-align: center;
  width: 40vw;
}
.container-xl{
  background-color: #3FBBC0;
  border-radius: 5px;
  position: absolute;
  top:20%;
  right: 50px;
  left:50px;
  z-index: -1;
  color:white;
  text-align: center;
}
.col{
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: space-between;
}



.content{
  position: absolute;
  left:9%;
  top:2%;
}

.pagination{
  background: lightblue;
  position: absolute;
  top:90%;
  left: 50%;
  
}
  .btn:hover{
  background:#3FBBC0;
}
.btn{
  background-color: white;
}

 .modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: all 0.35s ease-in;
  }

  .modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
   
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
 .pagination{
  position: fixed;
   left:50%;
 }

 table{
  background-color:white;
  border: 5px double #3FBBC0;
  color:black;
  border-radius: 20px;
  width: 40vw;
}

th, td{
  padding: 10px 20px;
  border: 5px double #3FBBC0;
}
tr{
  border: 5px double #3FBBC0;
}
.card{
  background: lightblue;
  color: #fff;
  width: 400px;
}
select{
  border: 1px double #3FBBC0;
}