body {
  padding-top: 0px;
}

.celest{
  color: #00adb5;
}

/* TopBar - Marcos*/
#topbar {
  background: #3fbbc0;
  height: 40px;
  z-index: 996;
  transition: all 0.5s;
  font-family: 'SF UI Display Light';
}
#topbar p{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

/* NavBar - Marcos */
#logo-clinica{
    max-width: 150px;
}
nav{
  font-family: 'SF UI Display Medium';
}
.navbar{
  background-color: #fff;
}
#celest--borde{
  border:1px solid #00adb5 ;
  margin-right: 0.3rem;
  color: #00adb5 !important;
  
}
#celest--borde:hover{
  background-color:#00adb5;
  color: #fff !important;
}
#celest--boton{
  background-color: #00adb5;
  color: #fff !important;
}
#celest--boton:hover{
  border: 1px solid #00adb5 !important;
  background-color: transparent !important;
  color: #00adb5 !important;
}
.nav-link:hover{
  color: #00adb5 !important;
}

/* Linea de vida - Martin Toro */
.mlt--lineavida{
  margin-top: 2%;
  text-align: center;
}
/* Servicios - Martin Toro*/
.servicios{
  height: 35em;
}
.servicios--titulo{
  width: 100%;
}
.servicios--titulo h2{
  padding-top: 2%;
  font-size: 33px;
  font-family: 'SF UI Display bold';
  text-align: center;
  color: #205f92;
}
.servicios--titulo p{
  font-family: 'SF UI Display Light';
  font-weight: 600;
  text-align: center;
  padding-bottom: 2%;
  font-size: 17px;
}
.servicios--cards{
  display: grid;
  grid-template-columns: 28% 28% 28% ;
  justify-content: space-around;
  height: 75%;
}
.cardServ{
  border-radius: 1em;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: #205f92 0px 2px 8px 0px;
}
.cardServ:hover{
<<<<<<< HEAD
  background: #00adb5;
  fill: #fff;
}
.cardServ svg{
  margin: auto;
}

/*Inicio About Marcos*/

.ms-about-section{
  padding: 40px 40px 0px 40px;
}

#ms-about {
  background-image: url("/img/carousel/clinic-3.jpg");
  background-size: cover;
}

.ms-fotopablo{
  width: 400px;
  height: 400px;
  object-fit: co;
}

.ms-fotosergio{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotomarcos{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotooscar{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotomartin{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotomatias{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.carousel-inner{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(16, 189, 233);
}

.carousel-item img{
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
=======
  background-color: #205f92;
  color: #fff;
>>>>>>> 82f0e95094cc30de7362266cc9b04859fcf4bdab
}
.cardServ p{
  font-family: 'SF UI Display Medium';
  font-weight: 500;
  font-size: 18px;
  color: #5fcbf3;
}
<<<<<<< HEAD

/*Fin About Marcos*/

/* Fin Servicios */


=======
.cardServ svg{
  display: flex;
  align-self: center;
}
.
/* Footer */
>>>>>>> 82f0e95094cc30de7362266cc9b04859fcf4bdab
.footer-CF{
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background: rgb(45, 48, 51);
  color: white;
}

.container-footer-all{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 40px 40px 0px 40px;
  
}

.container-CF{
  display: flex;
  justify-content: space-around;
}

.colum-logo{
  max-width: 400px;
}

.colum-logo h1{
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.colum-logo p{
  font-size: 15px;
  color: aliceblue;
  margin-top: 20px;
}

.colum-logo img{
  width: 100%;
  height: auto;
  transform: scale(1.1);
}

.colum-redes h1{
  display: flex;
  justify-content: center;
  font-size: 23px;
}

.ms_logosRedes{
flex-direction: column;
display: flex;
align-items: flex-end;

}

.colum-redes .row{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 0px;
}

.colum-redes .row img{
  background-color: white;
  width: 36px;
  height: 36px;
  object-fit: cover;
  padding: 3px;
  border-radius: 25%;
}

.ms_iconos:hover{
  transform:scale(1.1);
}

.colum-redes .row label{
    margin-top: 10px;
    margin-left: 20px;
    color: aliceblue;
}

.colum-informacion{
    max-width: 400px;
}

.colum-informacion h1{
  font-size: 22px;
}

.row-info{
  margin-top: 22px;
  display: flex;
}

.row-info img{
  width: 36px;
  height: 36px;
  background-color: white;
  object-fit: cover;
  border-radius: 25%;

}

.row-info label{
  margin-top: 0px;
  margin-left: 20px;
  max-width: 150px;
}

.container-base{
  width: 100%;
  background: black;
}

.footer-base{
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.container-base .copyrigth {
  color: white;
}

.container-base .information a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1100px){
  .container-CF{
    flex-wrap: wrap;
  }

  .colum-logo{
    max-width: 100%;
  }
  .colum-redes, .colum-informacion{
    margin-top: 40px;
  }
  .container-base .information{
    margin-left: 40px;
  }
}

/* STYLE ERROR 404 - OSCAR */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.os_body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  color: rgb(56,56,56);

}

.o_wrapper{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.o_wrapper .o_message{
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.o_wrapper .o_btn {
  background: rgb(0,195,154);
  padding: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.o_wrapper .o_btn:hover { background: rgb(0, 231, 201);}
.o_wrapper .o_copyRights {margin-top: 50px;}

/* Carousel */ 
