body {
  padding-top: 0px;
}

.celest {
  color: #00adb5;
}

/* Pablo Sangenis para el manejo del menu */
.hide_nav-item {
  display: none;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;  
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TopBar - Marcos*/
#topbar {
  background: #3fbbc0;
  height: 40px;
  transition: all 0.5s;
  font-family: "SF UI Display Light";
}
#topbar p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

/* NavBar - Marcos */
#logo-clinica {
  max-width: 150px;
}

nav {
  font-family: "SF UI Display Medium";
}
.navbar {
  background-color: #fff;
}
#celest--borde {
  border: 1px solid #00adb5;
  margin-right: 0.3rem;
  color: #00adb5 !important;
}
#celest--borde:hover {
  background-color: #00adb5;
  color: #fff !important;
}
#celest--boton {
  background-color: #00adb5;
  color: #fff !important;
}
#celest--boton:hover {
  border: 1px solid #00adb5 !important;
  background-color: transparent !important;
  color: #00adb5 !important;
}
.nav-link:hover {
  color: #00adb5 !important;
}

/* Linea de vida - Martin Toro */
.mlt--lineavida {
  margin-top: 2%;
  text-align: center;
}
/* Servicios - Martin Toro*/
.servicios {
  height: 35em;
  margin-bottom: 4%;
}
.servicios--titulo {
  width: 100%;
}
.servicios--titulo h2 {
  padding-top: 2%;
  font-size: 33px;
  font-family: "SF UI Display bold";
  text-align: center;
  color: #205f92;
}
.servicios--titulo p {
  font-family: "SF UI Display Light";
  font-weight: 600;
  text-align: center;
  padding-bottom: 2%;
  font-size: 17px;
}
.servicios--cards {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  justify-content: space-around;
  height: 75%;
}
.cardServ {
  border-radius: 1em;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: #205f92 0px 2px 8px 0px;
}

.cardServ:hover,
#Path_64:hover {
  background-color: #205f92;
  color: #fff;
  fill: #fff !important;
}
.cardServ:hover {
  background: #00adb5;
  fill: #fff;
}
.cardServ svg {
  margin: auto;
}

/*Inicio About Marcos*/

.ms-about-section {
  padding: 40px 40px 0px 40px;
}

#ms-about {
  background-image: url("/img/carousel/clinic-3.jpg");
  background-size: cover;
}

.ms-fotopablo {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.ms-fotosergio {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotomarcos {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotooscar {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotomartin {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.ms-fotomatias {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.carousel-inner {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(16, 189, 233);
}

.carousel-item img {
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardServ p {
  font-family: "SF UI Display Medium";
  font-weight: 500;
  font-size: 18px;
  color: #000;
}
.cardServ svg {
  display: flex;
  align-self: center;
}

/*  Nuestro Equipo - Martin Toro */
.equipo--titulo {
  width: 100%;
  text-align: center;
}
.equipo--titulo p {
  margin: 0;
  color: grey;
  font-size: 1em;
  font-family: "SF UI Display Medium";
  padding-bottom: 2%;
}
.equipo--titulo h1 {
  padding-top: 2%;
  font-size: 2.2em;
  font-family: "SF UI Display Bold";
  color: #205f92;
  margin: 0;
}
.container--equipo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 400px;
  height: 400px;
  margin-bottom: 3%;
  border-style: none !important;
}
.card-img-top {
  height: 15em;
  object-fit: cover;
}
.card-body {
  height: 4rem !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-body h1 {
  font-size: 1em !important;
  font-family: "SF UI Display Bold";
  margin: 0;
  color: #008fd5;
  text-align: center;
}
.card-body p {
  font-size: 13px !important;
  color: #6f8ba4;
  font-family: "SF UI Display Light";
  font-weight: 500;
}
.mas--prof {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.mas--prof a {
  font-size: 15px;
  font-family: "SF UI Display Medium";
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #205f92;
  border-radius: 5em;
}
.mas--prof a:hover {
  background-color: #00adb5;
  color: #fff;
}

/* Contacto - Martin Toro */
.contacto {
  height: 30vh;
  margin-bottom: 5%;
  background-color: blueviolet;
}
.container--contacto {
  display: flex;
  justify-content: space-evenly;
}
.contacto--titulo h1 {
  font-family: "SF UI Display Semibold";
  text-align: center;
  font-size: 2.2em;
  padding-bottom: 2%;
}
.contacto--izq {
  width: 48vw;
  background-color: #3fbbc0;
}
.contacto--izq iframe{
  width: 100%;
}
 .contacto--izq ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.contacto--izq ul li{
  padding-bottom: 1%;
} 
.contacto--izq li a{
  text-decoration: none;
  color: #000;
  font-family: 'SF UI Display Semibold';
  font-weight: 700;
}


.contacto--der {
  width: 48vw;
  opacity: 0.4;
  background-color: grey;

}
 .contacto--der form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
.contacto--der form input{
  border-radius: 0.5em;
  box-shadow: none;
  border: 2px solid #00ADB5;
  width: 95%;
  margin-bottom: 1%;
  padding: 3%;
}
.contacto--der form textarea{
  border: 2px solid #00ADB5;
  width: 95%;
  border-radius: 0.5em;
  margin-bottom: 2%;
}
 .contacto--der form button{
  background: none;
  border-radius: 0.5em;
  border: none;
  box-shadow: #205f92 0px 2px 8px 0px;
  margin-bottom: 2%;
  padding: 1%;
  background-color: #2e81f2;
  color: #fff;

} 

/* Footer */
.footer-CF {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background: rgb(45, 48, 51);
  color: white;
}

.container-footer-all {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 40px 40px 0px 40px;
}

.container-CF {
  display: flex;
  justify-content: space-around;
}

.colum-logo {
  max-width: 400px;
}

.colum-logo h1 {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.colum-logo p {
  font-size: 15px;
  color: aliceblue;
  margin-top: 20px;
}

.colum-logo img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
}

.colum-redes h1 {
  display: flex;
  justify-content: center;
  font-size: 23px;
}

.ms_logosRedes {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.colum-redes .row {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 0px;
}

.colum-redes .row img {
  background-color: white;
  width: 36px;
  height: 36px;
  object-fit: cover;
  padding: 3px;
  border-radius: 25%;
}

.ms_iconos:hover {
  transform: scale(1.1);
}

.colum-redes .row label {
  margin-top: 10px;
  margin-left: 20px;
  color: aliceblue;
}

.colum-informacion {
  max-width: 400px;
}

.colum-informacion h1 {
  font-size: 22px;
}

.row-info {
  margin-top: 22px;
  display: flex;
}

.row-info img {
  width: 36px;
  height: 36px;
  background-color: white;
  object-fit: cover;
  border-radius: 25%;
}

.row-info label {
  margin-top: 0px;
  margin-left: 20px;
  max-width: 150px;
}

.container-base {
  width: 100%;
  background: black;
}

.footer-base {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.container-base .copyrigth {
  color: white;
}

.container-base .information a {
  text-decoration: none;
  color: white;
}
/* Carousel */