body {
  padding-top: 0px;
}

.celest {
  color: #00adb5;
}

/* Pablo Sangenis para el manejo del menu */
.hide_nav-item {
  display: none;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;  
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TopBar - Marcos y Martin Toro*/
#topbar {
  background: #3fbbc0;
  height: 40px;
  transition: all 0.5s;
  font-family: "SF UI Display Light";
}
#topbar p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

/* NavBar - Marcos y Martin Toro*/
#logo-clinica {
  max-width: 150px;
}

nav {
  font-family: "SF UI Display Medium";
}
.navbar {
  background-color: #fff;
}
#celest--borde {
  border: 1px solid #00adb5;
  color: #00adb5 !important;
  margin-bottom: 1%;
}
#celest--borde:hover {
  background-color: #00adb5;
  color: #fff !important;
}
#celest--boton {
  background-color: #00adb5;
  color: #fff !important;
}
#celest--boton:hover {
  border: 1px solid #00adb5 !important;
  background-color: transparent !important;
  color: #00adb5 !important;
}
.nav-link:hover {
  color: #00adb5 !important;
}

/* CONTAINER GENERAL GRID */
.container--gr{
  display: grid;
  grid-template-columns: repeat(1fr);
}

/* Linea de vida - Martin Toro */
.mlt--lineavida {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mlt--lineavida img{
  width: 95%;
  margin: 1%;
}

/* Servicios - Martin Toro */
.servicios {
  margin-bottom: 4%;
}
.servicios--titulo {
  width: 100%;
}
.servicios--titulo h2 {
  padding-top: 2%;
  font-size: 1.7em;
  font-family: "SF UI Display bold";
  text-align: center;
  color: #205f92;
}
.servicios--titulo p {
  font-family: "SF UI Display Light";
  font-weight: 600;
  text-align: center;
  padding-bottom: 2%;
  font-size: 13px;
}
.servicios--cards {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1em;
}
.cardServ{
  width: 95%;
  height: 10rem;
  display: flex;
  border-radius: 1em;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  box-shadow: #205f92 0px 2px 8px 0px;
  margin: 0 auto;
}
.cardServ p{
  font-family: 'SF UI Display Medium';
  font-size: 1.3em;
}
.cardServ:hover{
background-color: #205f92;
color: #fff;
}

/* Nuestro Equipo - Martin Toro */

.equipo--titulo h1 {
padding-top: 2%;
font-size: 1.7em;
font-family: "SF UI Display Bold";
color: #205f92;
text-align: center;
}
.equipo--titulo p {
margin: 0;
color: grey;
font-size: 1em;
font-family: "SF UI Display Medium";
padding-bottom: 2%;
text-align: center;
}
.container--equipo{
width: 90%;
margin: 0 auto;
}
.card{
  margin-bottom: 4%;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body h1 {
  font-size: 1em !important;
  font-family: "SF UI Display Bold";
  margin: 0;
  color: #008fd5;
  text-align: center;
}
.card-body p {
  font-size: 13px !important;
  color: #6f8ba4;
  font-family: "SF UI Display Light";
  font-weight: 500;
}
.mas--prof {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}
.mas--prof a {
  font-size: 15px;
  font-family: "SF UI Display Medium";
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #205f92;
  border-radius: 5em;
}
.mas--prof a:hover {
  background-color: #00adb5;
  color: #fff;
}

/* Contacto */
.contacto{
    display: flex;
    flex-direction: column;
}
.container--contacto {
  justify-content: space-evenly;
}
.contacto--titulo h1 {
  font-family: "SF UI Display Bold";
  color: #205f92;
  text-align: center;
  font-size: 2em;
  padding-bottom: 1%;
}
.contacto--izq {
  margin: 1.5% 1.5% 1.5% 1.5%;
  border-radius: 0.5em;
  box-shadow: #205f92 0px 2px 8px 0px;
}
.contacto--izq iframe{
  width: 100%;
  height: 18em;
  border-radius: 0.5em;
}
 .contacto--izq ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.contacto--izq ul li{
  padding-bottom: 1%;
} 
.contacto--izq li a{
  text-decoration: none;
  color: #393e46;
  font-family: 'SF UI Display Semibold';
  font-weight: 700;
}
.contacto--izq a i{
  color: #00ADB5;
}
.cizq--info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacto--der {
  margin: 1em 0.3em 0.3em 0.3em;
  border-radius: 0.5em;
  background-color: rgba(63, 188, 192, 0.5);
  box-shadow: #205f92 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0em;
  
}
.contacto--der form{
  display: flex;
  flex-direction: column;
  width: 90%;
}
  .contacto--der input{
  margin-bottom: 1%;
  height: 2em;
  border-radius: 0.5em;
  border-style: none;
}
.contacto--der input::placeholder{
    color: grey;
    opacity: 0.5;
}
.contacto--der input:focus{
  outline: none;
}
.contacto--der input::placeholder, input:focus{
  font-family: 'SF UI Display Light';
  padding-left: 2%;
}
.contacto--der textarea{
  margin-bottom: 1%;
  height: 60%;
  padding-left: 2%;
  font-family: 'SF UI Display Light';
  border-radius: 0.5em;
  border-style: none;
}
.contacto--der textarea::placeholder{
  color: grey;
  opacity: 0.5;
}
.contacto--der textarea:focus{
  outline: none;
}
#boton--cform{
  margin-top: 1em;
  width: 9em;
  height: 2.4em;
  background-color: #fff;
  font-family: 'SF UI Display Semibold';
  color: #00ADB5;
  border-radius: 0.5em;
  border-style: none;
  font-size: 14px;
}
#boton--cform:hover{
  background-color: #00ADB5 !important;
  color: #fff;
  box-shadow: #ffffff 0.2px 0.2px 0.5px 1px;
}

/* Footer Martin Toro */
.container--footer{
  display: grid;
  margin-top: 2em;
  background-color: whitesmoke;
  font-family: 'SF UI Display Medium';
}
.izq--1 {
  width: 100%;
  text-align: center;
}
.izq--1 p{
  width: 95%;
  text-align: center;
}
.izq--1 a{
  display: flex;
  justify-content: center;
}
.izq--1 a img{
  width: 20em;
  
} 
.izq--social {
  color: #000;
}
.izq--social i {
  color: #205f92;
}
.izq--1 ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 !important;
}
.izq--1 ul li{
  list-style: none;
  font-size: 2em;
} 
.izq--1 li a{
  text-decoration: none;
}
/* izq2 */
.izq--2{
  width: 100%;
}
.izq--2 h2{
  font-family: 'SF UI Display Bold';
  font-size: 22px;
  padding-top: 8%;
  padding-bottom: 2%;
  text-align: center;
  color: #205f92;
}
.izq--2 ul li{
  list-style: none;
} 
.izq--2 li a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.izq--2 ul i{
  color: #205f92;
}
.izq--2 li a:hover{
  color: #205f92;
}
/* medio-1 */
.medio--1{
  width: 100%;
}
.medio--1 h2{
  font-family: 'SF UI Display Bold';
  font-size: 22px;
  padding-top: 8%;
  padding-bottom: 2%;
  text-align: center;
  color: #205f92;
}
.medio--1 ul li{
  list-style: none;
} 
.medio--1 li a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.medio--1 li i{
  color: #205f92;
}
.medio--1 li a:hover{
  color: #205f92;
}
/* der-2 */
.der--2{
  width: 100%;
  
  text-align: center;
}
.der--2 h2{
  font-family: 'SF UI Display Bold';
  font-size: 22px;
  padding-top: 8%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #205f92;
}
.der--2 ul {
  list-style: none; 
  padding: 0 !important;
}
.der--2 li i{
  color: #205f92;
}
.der--2 li a{
  text-decoration: none;
  color: #000;
}
.der--2 iframe{
  width: 94%;
  height: 23vh;
}

/* Media Queries - Martin Toro */
@media screen and (min-width: 768px){
    .cardServ img{
        width: 5em;
    }
    .subcontainer--fo{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .izq--1 img{
        margin: 5% 0%;
    }
}

@media screen and (min-width: 1024px){
    .servicios--cards{
      display: grid;
      grid-template-columns: repeat(3,1fr); 
      gap: 1em;
    }
    .container--equipo{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1em;
    }
    .card img{
        width: 100%;
        height: 14em;
    }
    .mas--prof{
        margin-top: 1.5em;
    }
    /* Contacto */
    .container--contacto{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 0.5em;
       margin: 0 0.5em;
    }
    .contacto--izq, .contacto--der{
        margin: 0;
    }
    .container--footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #celest--borde{
      margin-right: 0.3rem;
    }
}