body {
  padding-top: 0px;
}

.celest{
  color: #00adb5;
}

/* TopBar - Marcos*/
#topbar {
  background: #3fbbc0;
  height: 40px;
  z-index: 996;
  transition: all 0.5s;
  font-family: 'SF UI Display Light';
}
#topbar p{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

/* NavBar - Marcos */
#logo-clinica{
    max-width: 150px;
}
nav{
  font-family: 'SF UI Display Medium';
}
.navbar{
  background-color: #fff;
}
#celest--borde{
  border:1px solid #00adb5 ;
  margin-right: 0.3rem;
  color: #00adb5 !important;
  
}
#celest--borde:hover{
  background-color:#00adb5;
  color: #fff !important;
}
#celest--boton{
  background-color: #00adb5;
  color: #fff !important;
}
#celest--boton:hover{
  border: 1px solid #00adb5 !important;
  background-color: transparent !important;
  color: #00adb5 !important;
}
.nav-link:hover{
  color: #00adb5 !important;
}

/* Martin Toro - Servicios */
.mlt--lineavida{
  margin-top: 2%;
  text-align: center;
}
.servicios--titulo h2{
  font-size: 40px;
  font-family: 'SF UI Display Heavy';
  color: #205f92;
  text-shadow: 4px 4px 16px rgba(150, 150, 150, 0.30);
}
.servicios--cards{
  display: flex;
  flex-wrap: wrap;
}
.cardServ{
  width: 30%;
  border-radius: 1rem;
  padding: 1%;
  margin-left: 3%;
  margin-bottom: 1.5%;
  background-color: #3fbbc0;
  display: flex;
  flex-direction: column;
}
.cardServ h3{
  text-align: center;
}
.cardServ--btn{
  width: 35%;
  background-color: #fff;
  color: #00adb5;
  border-style: none;
  border-radius: 0.5rem;
  margin: auto;

}
.cardServ:hover{
  background: #00adb5;
  fill: #fff;
}
.cardServ svg{
  margin: auto;
}

/*Inicio About Marcos*/

.carousel-inner{
  width: 25%;
  height: 25%;
  border-radius: 100%;
  -webkit-box-shadow: -24px -6px 5px 0px rgba(13,195,227,0.63);
  -moz-box-shadow: -24px -6px 5px 0px rgba(13,195,227,0.63);
  box-shadow: -24px -6px 5px 0px rgba(13,195,227,0.63);
}

.carousel-item img{
  border-radius: 100%;
}

.carousel-indicators button{
  display: none;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}



/*Fin About Marcos*/

/* Fin Servicios */


.footer-CF{
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background: rgb(45, 48, 51);
  color: white;
}

.container-footer-all{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 40px 40px 0px 40px;
  
}

.container-CF{
  display: flex;
  justify-content: space-around;
}

.colum-logo{
  max-width: 400px;
}

.colum-logo h1{
  font-size: 22px;
}

.colum-logo p{
  font-size: 15px;
  color: aliceblue;
  margin-top: 20px;
}

.colum-logo img{
  width: 100%;
  height: auto;
  transform: scale(1.1);
}

.colum-redes h1{
  display: flex;
  justify-content: center;
  font-size: 23px;
}

.ms_logosRedes{
flex-direction: column;
display: flex;
align-items: flex-end;

}

.colum-redes .row{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 0px;
}

.colum-redes .row img{
  background-color: white;
  width: 36px;
  height: 36px;
  object-fit: cover;
  padding: 3px;
  border-radius: 25%;
}

.ms_iconos:hover{
  transform:scale(1.1);
}

.colum-redes .row label{
    margin-top: 10px;
    margin-left: 20px;
    color: aliceblue;
}

.colum-informacion{
    max-width: 400px;
}

.colum-informacion h1{
  font-size: 22px;
}

.row-info{
  margin-top: 22px;
  display: flex;
}

.row-info img{
  width: 36px;
  height: 36px;
  background-color: white;
  object-fit: cover;
  border-radius: 25%;
  te

}

.row-info label{
  margin-top: 0px;
  margin-left: 20px;
  max-width: 150px;
}

.container-base{
  width: 100%;
  background: black;
}

.footer-base{
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.container-base .copyrigth {
  color: white;
}

.container-base .information a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1100px){
  .container-CF{
    flex-wrap: wrap;
  }

  .colum-logo{
    max-width: 100%;
  }
  .colum-redes, .colum-informacion{
    margin-top: 40px;
  }
  .container-base .information{
    margin-left: 40px;
  }
}

/* STYLE ERROR 404 - OSCAR */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.os_body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  color: rgb(56,56,56);

}

.o_wrapper{
  display: flex;
  align-items:center;
  flex-direction: column;
}
.o_wrapper .o_message{
  font-size: 1.5rem;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.o_wrapper .o_btn {
  background: rgb(0,195,154);
  padding: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.o_wrapper .o_btn:hover { background: rgb(0, 231, 201);}
.o_wrapper .o_copyRights {margin-top: 50px;}

/* Carousel */ 
